<header>
  <nav class="navbar navbar-light navbar-expand-md custom-header" style="background-color: rgb(43,107,231);">
      <div class="container-fluid">
          <div><a class="navbar-brand" href="#" style="font-family: 'Abril Fatface', cursive;font-size: 20px;background-color: rgb(43,107,231);">COVID-19 Risk Assessment</a></div>
          <div class="dropdown" style="width: 124px;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);">English</a>
              <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">English</a><a class="dropdown-item" role="presentation" href="#">Other</a></div>
          </div>
      </div>
  </nav>
</header>
<div class="container">
<div class="card" style="margin-top: 50px;margin-left: 40px;">
  
  <input type="text" style="margin-left: 37px;margin-top: 10px;" placeholder="Enter your Name">
  <input type="text" style="margin-left: 37px;margin-top: 10px;" placeholder="Enter your Mobile No">
  <div class="form-check" style="margin-left: 15px;margin-top: 10px;">
<table>
<tr>
  <td>
    <input type="number" placeholder="Enter your Age">
  </td>
  <td>
    <input type="radio"/>
    Male
    <input type="radio"/>
    Female
    
  </td>
</tr>

</table>
</div>
<div class="btn-group d-inline" style="margin-left: 37px;margin-top: 10px;" role="group">
  <button class="btn btn-primary float-left" type="button" style="margin-left: 0px;margin-right: 100px;max-width: 100px;">Back</button>
  <button class="btn btn-primary float-right" type="button" style="margin-right: 0px;margin-left: 329px;max-width: 100px;">Next</button>
</div>

</div>
<script
  src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>